@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global base */
html,
body {
  height: 100%;
}

body {
  @apply bg-white text-slate-900 antialiased;
}

/* Better default link focus */
a:focus-visible,
button:focus-visible,
input:focus-visible,
select:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px rgba(16, 185, 129, 0.25);
  border-radius: 12px;
}
